{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row border border-secondary">
        <div class="col border border-secondary rounded">
            Авторизация
        </div>
        <div class="col-6 border border-secondary rounded">
            <h3>Главная страница</h3>
        </div>
        <div class="col border border-secondary rounded">
            Новости
        </div>
    </div>
</div>
{% endblock %}
